
*, body, #page-top, #newsViews > figure:nth-child(3) > figcaption{
    background-color: #222222;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    /*background-color: black;*/
}

#mainImg {
    width: 100%;
    border: crimson 19px solid;
}

html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #f5f5f5;
}

.wrap {
    width: 1080px;
    margin: 0 auto;
}

.menu {
    padding: 1em;
    height: 100%;
    width: 100%;
    color: white;
}

.nav {
    width: 50%;
    float: left;
}

li {
    font-size: 6em;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    line-height: 1.1;
    text-align: right;
}
/*====---------------       POLICY      */
#policyViews {
    /*font: ;*/
    background-color: mediumturquoise;
}
#policyMenu {
    color: mediumturquoise;
}

/*----------=============   ART     */
#artViews {
    background-color: lightpink;
}

#artMenu {
    color: lightpink;
}

/*-------===============  SPORT         */
#sportsViews {
    background-color: blue;


}
#sportMenu {
    color: blue;
}

/*-------===============  WORLD         */

#worldViews {
    background-color: red;

}
#worldMenu {
    color: red;
}


/*-------===============  MUSIC         */

#musicViews {
    background-color: purple;

}

#musicMenu {
    color: purple;
}


/*-------===============  IDENTITY         */

#identityViews {
    background-color: lightgreen;

}

#identityMenu {
    color: lightgreen;

}


/*-------===============  NEWS        */

#newsViews {
    background-color: burlywood;

}

#newsMenu {
    color: burlywood;
}


before {
     content: attr(data-menu);
     position: absolute;
     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAFUlEQVQIW2NkQAKMUPZ/IM0I44DFABJxAQQMGKylAAAAAElFTkSuQmCC);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     z-index: -1;
 }

/*//change color on hover*/

  li:nth-child(1):hover:before {
      content: attr(data-menu);
      position: absolute;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQIW2NkQAKMIPbr1NT/orNnM4I5MAAASUUEBHf1/LwAAAAASUVORK5CYII=);
      -webkit-background-clip: text;
      /*-webkit-text-fill-color: transparent;*/
      z-index: -1;
  }
li:nth-child(2):hover:before {
    content: attr(data-menu);
    position: absolute;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQIW2NkQAKMIPaKprf/I+qEGcEcGAAASs0EBOX90nwAAAAASUVORK5CYII=);
    -webkit-background-clip: text;
    color: black;
    -webkit-text-fill-color: transparent;
    z-index: -1;
}
li:nth-child(3):hover:before {
    content: attr(data-menu);
    position: absolute;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQIW2NkQAKMIHbGpGf/Z+RJMYI5MAAASfEEBPPbldMAAAAASUVORK5CYII=);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
}
li:nth-child(4):hover:before {
    content: attr(data-menu);
    position: absolute;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQIW2NkQAKMIPbmWb7/fdM2M4I5MAAASNkEBEaKR7gAAAAASUVORK5CYII=);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
}
li:nth-child(5):hover:before {
    content: attr(data-menu);
    position: absolute;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQIW2NkQAKMILZDq+n/A9WnGcEcGAAARlkEBMndkgEAAAAASUVORK5CYII=);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
}
li:nth-child(6):hover:before {
    content: attr(data-menu);
    position: absolute;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQIW2NkQAKMIPbmWb7/fdM2M4I5MAAASNkEBEaKR7gAAAAASUVORK5CYII=);
    -webkit-background-clip: text;
    background-color: white;
    -webkit-text-fill-color: transparent;
    z-index: -1;
}
li:nth-child(7):hover:before {
    content: attr(data-menu);
    position: absolute;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQIW2NkQAKMIPbr1NT/orNnM4I5MAAASUUEBHf1/LwAAAAASUVORK5CYII=);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
}


a {
    color: black;
}


.stories {
    width: 50%;
    float: left;
    padding: 1.5em 15% 0 3em;
    color: #222;
    position: relative;
}

.most-viewed {
    font-size: 1.3em;
    display: block;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}


.category {
    position: absolute;
    left: 0;
    top: 0;
    padding: 3em 50% 0 3em;
    opacity: 0;
    transition: .3s;
}

figure {
    opacity: 0;
    margin: 0;
    display: block;
    clear: both;
    left: 15px;
    position: relative;
    transition-duration: .3s;
}


figure img {
    float: left;
    margin: 0 1em 1em 0;
    height: 150px;
    width: 150px;
}

figcaption {
    margin: 1em 0;
    font-weight: 300;
    font-size: 1em;
}




.category.show {
    opacity: 1;
}



figure {
    opacity: 1;
    left: 0;
    transition-duration: .2s;
}

@media (max-width: 900px) {
    .nav {
        width: 100%;
        padding: 0;
    }
    li {
        text-align: center;
    }
}

@media (min-width: 516px) {
    ul {
        width: 100%;
        padding: 0;
    }
}

/*-----============             HAMBURGULAR         */


/*.stories {*/
    /*display: none;*/
/*}*/

/*!*html{*!*/
    /*!*box-sizing: border-box;*!*/
/*!*}*!*/




/*body{*/
    /*background: #161616;*/
    /*!*width: 100%;*!*/
    /*!*height: 100%;*!*/
    /*!*font-family: Arial, Helvetica, sans-serif;*!*/
    /*!*color: #fff;*!*/
    /*!*padding: 60px;*!*/
/*}*/

/*!*h1{*!*/
    /*!*width: 100%;*!*/
    /*!*text-align: center;*!*/
    /*!*padding: 40px 0;*!*/
/*!*}*!*/
/*.open {*/
    /*position: fixed;*/
    /*top: 40px;*/
    /*right: 40px;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*display: block;*/
    /*cursor: pointer;*/
    /*transition: opacity 0.2s linear;*/
/*}*/

    /*.open:hover{*/
     /*opacity: 0.8;*/
 /*}*/
/*span {*/
    /*display: block;*/
    /*float: left;*/
    /*clear: both;*/
    /*height: 4px;*/
    /*width: 40px;*/
    /*border-radius: 40px;*/
    /*background-color: #fff;*/
    /*position: absolute;*/
    /*right: 3px;*/
    /*top: 3px;*/
    /*overflow: hidden;*/
    /*transition: all 0.4s ease;*/
/*}*/
/*span:nth-child(1){*/
     /*margin-top: 10px;*/
     /*z-index: 9;*/
/*}*/

/*span:nth-child(2){*/
     /*margin-top: 25px;*/
/*}*/

/*span:nth-child(3){*/
     /*margin-top: 40px;*/
/*}*/

/*.sub-menu {*/
    /*transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
    /*height: 0;*/
    /*width: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*position: absolute;*/
    /*background-color: rgba(38, 84, 133, 0.54);*/
    /*border-radius: 50%;*/
    /*z-index: 18;*/
    /*overflow: hidden;*/
/*}*/

/*li {*/
    /*display: block;*/
    /*float: right;*/
    /*clear: both;*/
    /*height: auto;*/
    /*margin-right: -160px;*/
    /*transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
/*}*/

/*li:first-child{*/
     /*margin-top: 180px;*/
 /*}*/
/*li:nth-child(1){*/
     /*-webkit-transition-delay: 0.05s;*/
 /*}*/
/*li:nth-child(2){*/
     /*-webkit-transition-delay: 0.10s;*/
 /*}*/
/*li:nth-child(3){*/
     /*-webkit-transition-delay: 0.15s;*/
 /*}*/
/*li:nth-child(4){*/
     /*-webkit-transition-delay: 0.20s;*/
 /*}*/
/*li:nth-child(5){*/
     /*-webkit-transition-delay: 0.25s;*/
 /*}*/
/*a{*/
    /*color: #fff;*/
    /*font-family: 'Lato', Arial, Helvetica, sans-serif;*/
    /*font-size: 16px;*/
    /*width: 100%;*/
    /*display: block;*/
    /*float: left;*/
    /*line-height: 40px;*/
/*}*/



/*.sub-menu{*/
    /*opacity: 1;*/
    /*height: 400px;*/
    /*width: 400px;*/
/*}*/
/*span:nth-child(2){*/
    /*overflow: visible;*/
/*}*/
/*span:nth-child(1),*/
/*span:nth-child(3){*/
    /*z-index: 100;*/
    /*transform: rotate(45deg);*/
/*}*/
/*span:nth-child(1){*/
    /*transform: rotate(45deg) translateY(12px) translateX(12px);*/
/*}*/
/*span:nth-child(2){*/
    /*height: 400px;*/
    /*width: 400px;*/
    /*right: -160px;*/
    /*top: -160px;*/
    /*border-radius: 50%;*/
    /*background-color: rgba(38, 84, 133, 0.54);*/
/*}*/
/*span:nth-child(3){*/
    /*transform: rotate(-45deg) translateY(-10px) translateX(10px);*/
/*}*/
/*li{*/
    /*margin-right: 168px;*/
/*}*/

/*.button {*/
    /*display: block;*/
    /*float: left;*/
    /*clear: both;*/
    /*padding: 20px 40px;*/
    /*background: #fff;*/
    /*border-radius: 3px;*/
    /*border: 2px solid #10a1ea;*/
    /*overflow: hidden;*/
    /*position: relative;*/
/*}*/
/*.button:after{*/
     /*transition: transform 0.3s ease;*/
     /*content: "";*/
     /*position: absolute;*/
     /*height: 200px;*/
     /*width: 400px;*/
     /*transform: rotate(45deg) translateX(-540px) translateY(-100px);*/
     /*background: #10a1ea;*/
     /*z-index: 1;*/
 /*}*/
/*.button:before{*/
     /*transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
     /*content: attr(title);*/
     /*position: absolute;*/
     /*top: 0;*/
     /*left: 0;*/
     /*width: 100%;*/
     /*height: 100%;*/
     /*color: #fff;*/
     /*z-index: 2;*/
     /*text-align: center;*/
     /*padding: 20px 40px;*/
     /*!*transform: translateY(200px);*!*/
 /*}*/
/*.button:hover {*/
    /*text-decoration: none;*/
/*}*/
/*.button:after{*/
     /*transform: translateX(-300px) translateY(-100px);*/
 /*}*/
/*.button:before{*/
     /*transform: translateY(0);*/
 /*}*/
